includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - src
        - tests

    # Miscellaneous parameters
    inferPrivatePropertyTypeFromConstructor: true
