parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method mimetype\\(\\) on HttpAccept\\\\Entity\\\\MediaType\\|null\\.$#"
			count: 6
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Cannot call method name\\(\\) on HttpAccept\\\\Entity\\\\MediaType\\|null\\.$#"
			count: 19
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Cannot call method parameters\\(\\) on HttpAccept\\\\Entity\\\\MediaType\\|null\\.$#"
			count: 17
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Cannot call method quality\\(\\) on HttpAccept\\\\Entity\\\\MediaType\\|null\\.$#"
			count: 6
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Cannot call method score\\(\\) on HttpAccept\\\\Entity\\\\MediaType\\|null\\.$#"
			count: 6
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testAsteriskOnly\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testEmptyMimetype\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testEmptySource\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testGetAllMedia\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testGetAllParameters\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testGetMediatype\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testGetUndefinedParameterName\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testInvalidMimetype\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testInvalidParameterFormat\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testMissingSubtype\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testParseEmptyQuality\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testParseExtension\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testParseFloatQuality\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testParseIntegerQuality\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testQuotedParameter\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testSameParameterName\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testSimilarMediatype\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testSortSimilarScore\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testSortWithQuality\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

		-
			message: "#^Method AcceptParserTest\\:\\:testSortWithoutQuality\\(\\) has no return type specified\\.$#"
			count: 1
			path: tests/Units/AcceptParserTest.php

